
    /*=======Variables======*/
:root {

	/*=======Colors======*/

	--highlight-color: #ff776f;
	--abundant-color: #2adcdf;

	/* ========Buttons Hover========= */
	--transition: .4s;

	/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */

	--Big-Text: 4.688rem;
	--Statement: 30px;

	/* ========Buttons and Field Edges========= */

	--Button-field: 30px;
}

    /*=========Universal Styles========== */

* {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;}

    /*=========Hero and Background Picture========== */

    .hero {
        height: 100vh;
        width: 100%;
        background-image: url(img/husband.jpg);
        background-size: cover;
        background-position: center;
    
    }
/*=========Nav, Logo and Hovers========== */
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 45px;
        padding-left: 8%;
        padding-right: 8%;
    }

    .logo {
	
        color: white;
        font-size: 35px;
        letter-spacing: 1px;
        cursor: pointer;
        
    }
    
    .logo:hover {
        transform: scale(1.2);
    }
    
    ul {
        
        margin-left: auto;
        margin-right: auto;
        
    }
    
    span {
        color: var(--highlight-color);
    }
    
    .logo span:hover {
        color: var(--abundant-color);
        
        
        
    } 
    
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 10px 25px;
        border: dotted;
        border-color: var(--highlight-color);
        
    }
    
    nav ul li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
    }
    
    nav ul li a:hover {
        color: var(--abundant-color);
        transition: var(--transition);
    }
/*=========Content for the Form========== */
    .content {
        position: absolute;
        top: 50%;
        left: 8%;
        transform: translateY(-50%);
    }

    h1 {
        color: white;
        margin: 20px 0px 20px;
        font-size: var(--Big-Text);
    }
    
    h3 {
        color: white;
        font-size: 25px;
        margin-bottom: 50px;
    }
    
    h4 {
        color: #fcfc;
        letter-spacing: 2px;
        font-size: 20px;
    }

    .newslatter form {
        width: 380px;
        max-width: 100%;
        position: relative;
    }
    
    .newslatter form input:first-child {
        display: inline-block;
        width: 100%;
        padding: 14px 130px 14px 15px;
        border: 2px solid var(--abundant-color);
        outline: none;
        border-radius: var(--Button-field);
    }
    
    .newslatter form input:last-child {
        position: absolute;
        display: inline-block;
        border: 3px double var(--highlight-color);
        padding: 10px 30px;
        border-radius: var(--Button-field);
        background-color: var(--abundant-color);
        color: white;
        box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
        top: 6px;
        right: 6px;
        bottom: 3px;
    }